page-login {

    [login-page]{
        background: url('../../assets/imgs/login_bg.jpg');
        background-attachment: fixed;
    background-position: center; 
    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
        opacity: .8; 
      }
      ion-item{
          background: transparent !important;
      }

      ion-input{
          color: white
      }
      input{
        color: white;
        // text-align: left !important;
      }
      form{
        padding: 24px;
        margin: AUTO;
      }
      [logo-title]{
        font-size: 26px;
    color: white;
    position: relative;
    bottom: 6px;
      }
    //   ion-list.login-list ion-item {
    //     border-bottom: 1px solid transparent !important;
    // }
    
    }
}
ion-list.login-list ion-item{
    border-bottom: 1px solid #dedede !important;
}
ion-list.login-list ion-item .item-inner{
    border-bottom: none !important;
}
.full-height{
    height: 100%;
}
.scroll-content{
    padding-bottom: 0 !important;
}