.tabbar,
.tabs-ios {
  .tab-button-icon {
    font-size: 20px !important;
  }
}

.tabbar,
.tabs-ios {
  .tab-button-icon {
    height: 20px !important;
  }
}

.tabs-ios-primary .tabbar {
  border-color: #38B5B7;
}