page-notify {
  .msgContent {
    .msgContentListHeader {
      color: #203035;
    }
    .recentIcon {
      height: 28px;
    }
    .avatarRecentDiv {
      text-align: center;
    }
    .contentPara {
      font-size: 14px;
      color: #203035;
    }
    .time {
      font-size: 12px;
    }
  }
}